* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #181818;
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
}

h1 {
  color: #eeecec;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 6.85714px;
}

#top-right-svg {
  position: absolute;
  background: url(./assets/asset2.svg);
  width: 332px;
  height: 332px;
  background-repeat: no-repeat;
  top: -1.5%;
  right: 0px;
  background-position: right top;
}

#bottom-left-svg {
  position: absolute;
  background: url(./assets/asset3.svg);
  width: 332px;
  height: 332px;
  background-repeat: no-repeat;
  z-index: 1;
  bottom: -6.3%;
  left: 0px;
  background-position: right bottom;
}

#bottom-right-svg {
  position: absolute;
  background: url(./assets/asset1.svg);
  width: 332px;
  height: 332px;
  background-repeat: no-repeat;
  z-index: 1;
  bottom: -6.3%;
  right: 0px;
  background-position: right bottom;
}

@media only screen and (min-width: 1024px) {
  .case-study-container {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1%;
  }

  .case-study-image-wraper {
    height: 100%;
    width: 100%;
  }

  .case-study-link-container {
    position: sticky;
    top: 60%;
  }

  #top-right-svg {
    position: absolute;
    background: url(./assets/asset2.svg);
    width: 332px;
    height: 332px;
    background-repeat: no-repeat;
    top: -3%;
    right: 0px;
    background-position: right top;
  }

  #bottom-left-svg {
    position: absolute;
    background: url(./assets/asset3.svg);
    width: 332px;
    height: 332px;
    background-repeat: no-repeat;
    z-index: 1;
    bottom: -5%;
    left: 0px;
    background-position: right bottom;
  }

  #bottom-right-svg {
    position: absolute;
    background: url(./assets/asset1.svg);
    width: 332px;
    height: 332px;
    background-repeat: no-repeat;

    bottom: -5%;
    right: 0px;
    background-position: right bottom;
  }
}
