* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  /* margin: 0 auto; */
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #181818;
  height: 100vh;
}

h1 {
  color: #eeecec;
  font-weight: 900;
  font-size: 30px;
  line-height: 56px;
  letter-spacing: 6.85714px;
}
