.case-study-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5% 0;
}

.case-study-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
  color: #eeecec;
}

.case-study-category-container {
  border-bottom: 2px solid #eeecec;
  padding-bottom: 1%;
}

span {
  text-transform: uppercase;
  line-height: 14px;
}

.case-study-details-container {
  height: 80%;
  overflow: hidden;
}

.case-study-image-wraper {
  height: 30%;
  z-index: 2;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 30px;
}

p {
  margin-top: 5%;
  font-size: 16px;
}

.case-study-link-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20%;
  z-index: 2;
}

button {
  display: flex;
  align-items: center;
  border: 2px solid #eeecec;
  background-color: transparent;
  text-transform: uppercase;
  color: #eeecec;
  text-align: center;
  overflow: hidden;
  padding: 1%;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  line-height: 14px;
  text-decoration: none;
  background: transparent;
}

svg {
  font-size: 25px;
  background: transparent;
}
