.case-studies-container {
  margin: 5%;
}

@media only screen and (min-width: 1024px) {
  .case-studies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3%;
  }
}
