.nav-container {
  margin: 5%;
  padding-bottom: 2%;
  border-bottom: 2px solid #eeecec;
}
.nav-menu-bar-container {
  margin-top: 3%;
  width: 90%;
}
.nav-menu-bar-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  color: #eeecec;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
}

li {
  padding: 0.5% 1.5%;
  cursor: pointer;
}

.selected-li {
  list-style-position: inside;
  border: 1px solid #ffffff;
}

.hamburger-menu-bar-container {
  color: #eeecec;
  margin: 2%;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.hamburger-menu-bar-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}
